<!DOCTYPE html>
<html>
    <head>
        <title>Sentiment</title>

        <!-- Compiled and minified CSS -->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    </head>
    <body>
        {% block body %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    </body>
</html>
